<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing news</h1>

  <%= render "form", { tool: @tool, url: workspace_tool_path  }%>

  <%= link_to "Back", workspace_profile_path, class: "btn" %>
</div>
