<div class="mx-auto md:w-2/3 w-full">
  <%= tag.h1 t('.title'), class: 'font-bold text-4xl' %>
  <%= render 'form', { tool: @tool, url: workspace_tools_path } %>

  <%= link_to t('defaults.back'), workspace_profile_path(@workspace), class: 'btn' %>
</div>
