<div>
  <h1 class="font-bold text-4xl">StaticPages#welcome</h1>
  <%= @date %>
  <button class="btn btn-active">Button</button>
  <button class="btn btn-active btn-primary">Button</button>
  <button class="btn btn-active btn-secondary">Button</button>
  <button class="btn btn-active btn-accent">Button</button>
  <button class="btn btn-active btn-ghost">Button</button>
  <button class="btn btn-active btn-link">Button</button>
</div>
