<!--プロフィールフォーム-->
<div id="<%= dom_id profile %>">

  <p class="my-5">
    <% if profile.owner_avatar.present? %>
      <%= image_tag profile.owner_avatar.variant(resize_to_limit: [100, 100])%>
    <% else %>
      <%= cl_image_tag "daichi-test/animal-test/sample_image.png", :height=>100, :width=>100, :crop=>"thumb" %>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">owner_name:</strong>
    <%= profile.owner_name %>
  </p>

  <p class="my-5">
    <div>
    オーナからのコメント:
    検索時はここのコメントの中身を参照する
    <%# workspace.owner_comment%> <!--後でカラムをworkspaceに追加-->
    </div>
  </p>

  <p class="my-5">
    <div>
    SNS:
    </div>
  </p>
  <p class="my-5">
    <div>
    ツールセット:
    </div>
  </p>
</div>
