<%= form_with url: password_resets_path, local: true, method: :post do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
    <%= f.submit %>
  </div>
<% end %>