<div class="mx-auto md:w-2/3 w-full">
  <%= render "form", { sns_information: @sns_information, url: workspace_sns_information_path} %>

  <%= link_to "Back", workspace_sns_informations_path, class: "btn" %>
</div>