<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">新規アカウント追加</h1>

  <%= render "form", sns_information: @sns_information, url: workspace_sns_informations_path %>

  <%= link_to t('defaults.back'), workspace_sns_informations_path, class: 'btn' %>
</div>