<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing workspace</h1>

  <%= render "form", workspace: @workspace %>

  <%= link_to "Show this workspace", @workspace, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to "Back to workspaces", workspaces_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
