<%= content_for(:title, current_user.owner_name + ' | ' + t('workspaces.notifications.index.title')) %>
<%= render 'shared/main_tab', {object: current_user}%>

<div class="container mx-auto">
  <div class="w-full">
    <table>
      <% @notifications.each do |note| %>
        <%= render "workspaces/notifications/#{note.action_type}", {note: note} %>
      <% end %>
    </table>
  </div>
</div>