<div class="tabs container mx-auto">
  <%= link_to t('workspaces.show.title'), workspace_path(object), id: 'js-workspace-tab', class: 'hover:bg-slate-100 tab tab-bordered'%>
  <%= link_to t('workspaces.profile.title'), workspace_profile_path(object), id: 'js-profile-tab', class: 'hover:bg-slate-100 tab tab-bordered'%>
  <%= link_to t('workspaces.favorites.index.title'), favorites_path(object), id: 'js-favorites-tab', class: 'hover:bg-slate-100 tab tab-bordered'%>
  <% if current_user == object %>
    <%= link_to t('workspaces.notifications.index.title'), notifications_path(object), id: 'js-notifications-tab', class: 'hover:bg-slate-100 tab tab-bordered '%>
  <% end%>
</div>