<div class="tabs ">
  <%= link_to t('workspaces.index.title'), workspaces_path, class: 'tab tab-bordered' %>
  <%= link_to t('projects.index.title'), projects_path, class: 'tab tab-bordered'%>
  <% if logged_in? %>
    <%= link_to t('workspaces.followings.index.title'), followings_path(current_user), class: 'tab tab-bordered tab-active'%>
  <% end %>
</div>
<div>
  実装予定
  検索機能
  タブでの検索機能
</div>
<div class="container mx-auto grid grid-cols-1 md:grid-cols-4 gap-4">
  <%# render @workspaces %>
</div>