<div class='container mx-auto'>
  <div class="collapse">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
      <h2>このModelers-Logとは何ですか？<h2>
    </div>
    <div class="collapse-content"> 
      <div class='p-5'>
        <p>こちらはプラモデラーのためのタスク管理&レシピ公開アプリです。</p>
      </div>
    </div>
  </div>
  <div class="collapse">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
      <h2>どんな時に使えますか？</h2>
    </div>
    <div class="collapse-content"> 
      <div class='p-5'>
        <ul class="list-disc">
          <li>自分のプラモデルを作る時の工具や塗料、消耗品のメモとして使えます</li>
          <li>新しくプラモデルを作る際に過去に作った作品を参考にすることができます</li>
          <li>他のユーザーが作ったレシピを見ることができ、自分の作品用の資料に使えます</li>
          <li>自分のプロフィールにSNS(twitter,Facebook,Instagram)のアカウントを設定することができます</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="collapse">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
      <h2>ワークスペースって何ですか？</h2>
    </div>
    <div class="collapse-content"> 
      <div class='p-5'>
        <p>ユーザーのことです。ユーザー登録をしていただくとワークスペースが作成されます</p>
        <p>ワークスペース内にて自分のプロジェクトを作成できます</p>
      </div>
    </div>
  </div>
  <div class="collapse">
    <input type="checkbox" /> 
    <div class="collapse-title text-xl font-medium">
      <h2>プロジェクトって何ですか？</h2>
    </div>
    <div class="collapse-content"> 
      <div class='p-5'>
        <p>プロジェクトとはユーザーが作成できる。プラモデル用のページのことです</p>
        <p>プロジェクト内にタスクの作成ができ、作成後はレシピになります</p>
      </div>
    </div>
  </div>
</div>