<div class="carousel-item">
  <%= link_to project do %>
    <%= cl_image_tag "daichi-test/animal-test/#{project.project_image.key}",
      gravity: "face", height: 200, width: 267, :crop=>"fill", fetch_format: :auto  %>
  <% end %>
</div>