<div class="tabs ">
  <%= link_to t('workspaces.index.title'), workspaces_path, class: 'tab tab-bordered' %>
  <%= link_to t('projects.index.title'), projects_path, class: 'tab tab-bordered tab-active'%>
</div>
<div>
  実装予定
  検索機能
  タブでの検索機能
</div>
<div class="container mx-auto grid grid-cols-2 md:grid-cols-5 gap-4">
  <%= render @projects %>
</div>
