<div class="mx-auto md:w-2/3 w-full">
  <%= tag.h1 t('.title'), class: 'font-bold text-4xl'%>

  <%= render "form", project: @project %>

  <%= link_to 'Back ', :back , class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
