<%= content_for(:title, "#{@workspace.owner_name} | #{t('workspaces.followers.index.title')}") %>
<%= render 'shared/main_tab', {object: @workspace}%>
<div class='container px-5 flex flex-col md:flex-row md:mx-auto'>
  <%= render 'workspaces/profiles/form', profile: @workspace %>
  <div class='border rounded-lg m-3 p-2 md:w-full'>
    <div id='workspace-followers' class='grid grid-cols-2 lg:grid-cols-3 gap-4'>
      <%= render partial: 'workspaces/workspace', collection: @workspaces, as: 'workspace' %>
    </div>
  </div>
</div>
