<div class='container mx-auto'>
  <div class='grid grid-rows-3 grid-flow-col gap-4'>
    <div class="row-span-1 col-span-3 rounded-lg border border-cyan-300 h-40 p-10">workspaces</div>
    <div class="row-span-1 col-span-3 rounded-lg border border-cyan-300 h-40 p-10">projects</div>
    <div class="row-span-1 col-span-3 rounded-lg border border-cyan-300 h-40 p-10">tasks</div>
  </div>
</div>
